.card {
    background-color: #f3f3f3;
    box-shadow: 0px 2px 8px 1px #d1d0d0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.types {
    display: flex;
    justify-content: center;
}
.types p {
    padding: 2px 8px 2px 8px;
    margin: 2px;
    border-radius: 10px;
}
