* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
    width: 100%;
    height: 100%;
    background-color: white;
}
.main-container {
    margin: 0 auto;
    width: 80%;
    min-height: 90vh;
}

.poison {
    background-color: #b97fc9;
}
.grass {
    background-color: #9bcc50;
}
.fairy {
   background-color: #fdb9e9; 
}
.fire {
    background-color: #fd7d24;
}
.electric {
    background-color: #f3de25;
}
.water {
    background-color: #4592c4;
}
.rock {
    background-color: #a38c21;
}
.ground {
    background-color: #ab9842;
}
.steel {
    background-color: #9eb7b8;
}
.bug {
    background-color: #729f3f;
}
.flying {
    background-color:#ffffff;
}
.normal {
    background-color: #a4acaf;
}
.fighting {
    background-color: #d56723;
}
.ice {
    background-color: #51c4e7;
}
.dark {
 background-color: #707070;
}
.psychic {
    background-color: #f366b9;
}
.dragon {
    background: linear-gradient(#f16e57,#53a4cf);

}
.ghost {
    background-color: #7b62a3;
}



