.tittle {
  color: #222;
  margin-top: 75px;
  margin-left: 25px;
}
.tittle span {
  color: #d42e2e;
} 
.pokemon_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 75px;
}