.infos_container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}
.img, .list{
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #000000;
    padding: 15px;
}
.list {
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 530px;
    list-style: none;
}
.list hr {
    margin: 5px;
    height: 1px;
    outline: none;
    border: none;
    background-color: #222;
}
.space {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.list_items {
    background-color: #d42e2e;
    padding: 5px;
    margin: 1px;
    border-radius: 5px;
}
.img p {
    text-align: center;
}
.img span {
    padding: 5px;
    margin: 1px;
}

.poison {
    background-color: #b97fc9;
}
.grass {
    background-color: #9bcc50;
}
.fairy {
   background-color: #fdb9e9; 
}
.fire {
    background-color: #fd7d24;
}
.eletric {
    background-color: #f3de25;
}
.water {
    background-color: #4592c4;
}
.rock {
    background-color: #a38c21;
}
.ground {
    background-color: #ab9842;
}
.steel {
    background-color: #9eb7b8;
}
.bug {
    background-color: #729f3f;
}
.flying {
    background-color:#ffffff;
}
.normal {
    background-color: #a4acaf;
}
.fight {
    background-color: #d56723;
}
.ice {
    background-color: #51c4e7;
}
.dark {
 background-color: #707070;
}
.psychic {
    background-color: #f366b9;
}
.dragon {
    background: linear-gradient(#f16e57,#53a4cf);

}
.ghost {
    background-color: #7b62a3;
}